 input{
  width: 20vw;
  height: 5vh;
  padding-left: 30px;
  margin: 2px;
  font-size: 20px;
  font-family: Tahoma,sans-serif;
 }
 @media screen and (min-width:480px) {
   .input{
      width: 5vw;
         height: 3vh;
         padding-left: 3px;
         font-size: 10px;
   }
 }
 .btn{
 
height: 30px;
border: none;
background-color: white;
    color: blue;
width: 110px;
border-radius: 10px;
font-weight: 700;
   margin-top: 30px; 
padding-left: 0;
 }
 .btn:hover{
    background-color: blue;
    color: white;
    
 }